<div class="equipment">
  <div class="left">
    <div character-item="items" slot="head"></div>
    <div character-item="items" slot="neck"></div>
    <div character-item="items" slot="shoulder"></div>
    <div character-item="items" slot="back"></div>
    <div character-item="items" slot="chest"></div>
    <div character-item="items" slot="shirt"></div>
    <div character-item="items" slot="tabard"></div>
    <div character-item="items" slot="wrist"></div>
  </div>
  <div class="right">
    <div character-item="items" slot="hands"></div>
    <div character-item="items" slot="waist"></div>
    <div character-item="items" slot="legs"></div>
    <div character-item="items" slot="feet"></div>
    <div character-item="items" slot="finger1"></div>
    <div character-item="items" slot="finger2"></div>
    <div character-item="items" slot="trinket1"></div>
    <div character-item="items" slot="trinket2"></div>
  </div>
  <div character-item="items" slot="mainHand"></div>
  <div character-item="items" slot="offHand"></div>
</div>